<div id="PresentationsTab" class="profile-tab">
  <h1 class="tab-header">{% trans %}My_Presentations{% endtrans %}
  </h1>
  <div id="PresentationsGallery" class="row medium-bottom-margin">

    <a href="{{path('editor')}}" id="PptCreate" class="presentation-thumb">
      <div class="fully-centered text-center">
        <i class="fas fa-plus ppt-add-icon"></i>
        <p class="small-top-margin small-bottom-margin">{% trans %}Create_New_Presentation{% endtrans %}</p>
      </div>
    </a>

    {% for presentation in app.user.presentations|reverse  %}
      {% if presentation.isActive %}
        <div class="presentation-thumb">
          <a href="{{path('editor')}}/{{presentation.presentationId}}">

            {% set imgUrl = "" %}
            {% if presentation.downloadedPresenatations|length > 0 %}
              {% set last = presentation.downloadedPresenatations|last %}
              {% if last.prevFile %}
                {% set imgUrl = last.prevFile %}
              {% endif %}
            {% endif %}


            <div class="presentation-thumb-img">
              {% if imgUrl %}
                <img src="{{last.prevFile}}"/>
              {% else %}
                <span>
                  {{presentation.slides|length}}
                </span>
                <br/>
                {% trans %}Slides_Amount{% endtrans %}
              {% endif %}
            </div>
          </a>
          <p class="ppt-title ppt-title">{{presentation.title}}</p>
          <p class="ppt-last-modified text-secondary no-margin">{% trans %}Created{% endtrans %}:
            <span class="modified-datetime">{{presentation.created|date("F jS \\a\\t g:ia")}}</span>
          </p>
          <i class="fas fa-trash-alt ppt-remove text-danger" presentation-id="{{presentation.presentationId}}"></i>
          <a href="{{path('editor')}}/{{presentation.presentationId}}/download">
            <i class="fas fa-download ppt-download"></i>
          </a>
        </div>
      {% endif %}
    {% endfor %}

  </div>
  <div class="card text-center account-upgrade d-none">
    <div class="card-body">
      <div>
        <h2 class="card-title medium-bottom-margin">{% trans %}Title_Need_More_Presentations{% endtrans %}</h2>
        <h5 class="card-text medium-bottom-margin">{% trans %}Text_Upgrade_Account{% endtrans %}</h5>
        <a href="{{path('pricing')}}" class="btn btn-primary upgrade-button">{% trans %}BTN_Upgrade_My_Account{% endtrans %}</a>
      </div>
    </div>
  </div>
</div>
