<div id="PresentationsTab" class="profile-tab">
  <h1 class="tab-header">
    My Presentations
  </h1>
  <div id="PresentationsGallery" class="row medium-bottom-margin">

    <a href="{{path('editor')}}" id="PptCreate" class="presentation-thumb">
      <div class="fully-centered text-center">
        <i class="fas fa-plus ppt-add-icon"></i>
        <p class="small-top-margin small-bottom-margin">Create a new presentation</p>
      </div>
    </a>

    {% for presentation in app.user.presentations|reverse  %}
      {% if presentation.isActive %}
        <div class="presentation-thumb">
          <a href="{{path('editor')}}/{{presentation.presentationId}}">
            <div class="presentation-thumb-img">
              <span>
                {{presentation.slides|length}}
              </span>
              <br/>
              Slides
            </div>
          </a>
          <p class="ppt-title ppt-title">{{presentation.title}}</p>
          <p class="ppt-last-modified text-secondary no-margin">Created:
            <span class="modified-datetime">{{presentation.created|date("F jS \\a\\t g:ia")}}</span>
          </p>
          <i class="fas fa-trash-alt ppt-remove text-danger" presentation-id="{{presentation.presentationId}}"></i>
          <a href="{{path('editor')}}/{{presentation.presentationId}}/download">
            <i class="fas fa-download ppt-download"></i>
          </a>
        </div>
      {% endif %}
    {% endfor %}

  </div>
  <div class="card text-center account-upgrade">
    <div class="card-body">
      <div>
        <h2 class="card-title medium-bottom-margin">Need more presentations?</h2>
        <h5 class="card-text medium-bottom-margin">Upgrade your account to get unlimited presentations & features!</h5>
        <a href="#" class="btn btn-primary upgrade-button">UPGRADE MY ACCOUNT</a>
      </div>
    </div>
  </div>
</div>
