<div id="ProfileTab" class="profile-tab collapse">
  <h1 class="tab-header medium-bottom-margin">{% trans %}My_Profile{% endtrans %}</h1>
  <div class="row info-component">
    <div class="col-md-2 col-sm-6 col-12">
      <div class="vertically-centered">
        <span>{% trans %}My_Thumbnail{% endtrans %}</span>
      </div>
    </div>
    <div class="col-md-9 col-sm-6 col-12">
      <div class="vertically-centered">
        <img src="{{app.user.picture}}" id='thumbnail'/>
        <div class="input-group" id="thumbnailUpload" style="display:none">
          <div class="">
            <input type="file" accept="image/*" name="image" id="thumbnailUploadInput" class="" required>
          </div>
          <div class="input-group-append mr-3">
            <button class="btn btn-outline-secondary" id="thumbnailUploadButton" type="submit">{% trans %}Upload{% endtrans %}</button>
          </div>
          Max 200kb
        </div>
      </div>
    </div>
    <div class="col-md-1 d-md-block d-none">
      <div class="vertically-centered text-right profile-update-image">
        <span href="#" class="text-primary info-action-link">{% trans %}Edit{% endtrans %}</span>
      </div>
    </div>
    <i class="fas fa-edit d-md-none d-block resp-modify vertically-centered profile-update-image" title="Edit"></i>
  </div>
  <div class="row info-component">
    <div class="col-md-2 col-sm-6 col-12">
      <div class="vertically-centered">
        <span>{% trans %}My_Name{% endtrans %}</span>
      </div>
    </div>
    <div class="col-md-9 col-sm-6 col-12">
      <div class="vertically-centered">
        <span>
          <strong>
            <span id="UserNameField">{{app.user.fullname}}</span>
          </strong>
        </span>
        <div id="fullnameDiv" style="display:none">
          <div class="input-group mb-3">
            <input id="fullnameInput" type="text" class="form-control" value="{{app.user.fullname}}">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" id="fullnameButton" type="button">{% trans %}Update{% endtrans %}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1 d-md-block d-none">
      <div class="vertically-centered text-right">
        <span href="#" class="text-primary info-action-link profile-update-fullname">{% trans %}Edit{% endtrans %}</span>
      </div>
    </div>
    <i class="fas fa-edit d-md-none d-block resp-modify vertically-centered profile-update-fullname" title="Edit"></i>
  </div>
  <div class="row info-component">
    <div class="col-md-2 col-sm-6 col-12">
      <div class="vertically-centered">
        <span>{% trans %}Email{% endtrans %}</span>
      </div>
    </div>
    <div class="col-md-9 col-sm-6 col-12">
      <div class="vertically-centered">
        <span>
          <strong>
            <span id="UserEmailField">{{app.user.email}}</span>
            <div id="emailDiv" style="display:none">
              <div class="input-group mb-3">
                <input id="emailInput" type="email" class="form-control" value="{{app.user.email}}">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" id="emailButton" type="button">Update</button>
                </div>
              </div>
            </div>
          </strong>
        </span>
      </div>
    </div>
    <div class="col-md-1 d-md-block d-none">
      <div class="vertically-centered text-right">
        <span href="#" class="text-primary info-action-link profile-update-email">{% trans %}Edit{% endtrans %}</span>
      </div>
    </div>
    <i class="fas fa-edit d-md-none d-block resp-modify vertically-centered profile-update-email" title="Edit"></i>
  </div>
</div>
