{% extends 'base.html.twig' %}

{% block title %}
  {% trans %}Log in{% endtrans %}
{% endblock %}


{% block body %}
  <footer class="footer mt-0">
    <div class="footer_top py-5 px-0 mt-0">
      <div class="container py-5">
        <div class="row justify-content-center gallery-item">
          <div class="col-12 p-5">
            <p style="text-align:center">
              <a href="/">
                <img src="/favicon/favicon-196x196.png" alt="Logo" style="max-width:100px">
              </a>
            </p>
            <h1 class="text-center">{% trans %}Log in{% endtrans %}</h1>
          </div>

          {% if error %}
            <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            <div class="col-12"></div>
          {% endif %}

          {% include "components/social-logins.html.twig" with {'class':'col-10 col-sm-6 col-lg-4 mb-2'} %}
          <div class="col-12"></div>
          <form method="post" class="col-10 col-sm-6 col-lg-4 text-center">
            <input class="form-control mb-1" type="email" name="email" value="{{last_username}}" placeholder="{% trans %}Email{% endtrans %}" required autofocus/>
            <input class="form-control mb-1" type="password" name="password" placeholder="{% trans %}Password{% endtrans %}" required/>
            <input class="form-control mb-1" type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button type="submit" class="genric-btn info col-12 mt-2">{% trans %}Login{% endtrans %}</button>
            <p class=" my-2">{% trans %}Don't have an account?{% endtrans %}
              <a href="{{path('app_register')}}">{% trans %}Sign up{% endtrans %}</a>
            </p>
            <a href="{{path('app_forgot_password_request')}}">
              <p class="text-danger my-2" style="font-size:0.7rem">{% trans %}Forgot password?{% endtrans %}</p>
            </a>
          </form>
          <div class="col-12"></div>
        </div>
      </div>
    </div>
  </footer>


{% endblock %}
