{% extends 'base.html.twig' %}

{% block title %}Log in
{% endblock %}


{% block body %}
  <footer class="footer mt-0">
    <div class="footer_top py-5 px-0 mt-0">
      <div class="container py-5">
        <div class="row justify-content-center gallery-item">
          <div class="col-12 p-5">
            <p style="text-align:center">
              <a href="/">
                <img src="/favicon/favicon-196x196.png" alt="Logo" style="max-width:100px">
              </a>
            </p>
            <h1 class="text-center">Login</h1>
            <h6 class="text-center">or
              <a href="/register">Register</a>
            </h6>
          </div>

          {% for error in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
            <div class="col-12"></div>
          {% endfor %}
          {% for success in app.flashes('success') %}
            <div class="alert alert-success" role="alert">{{ success }}</div>
            <div class="col-12"></div>
          {% endfor %}
          {% if error %}
            <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            <div class="col-12"></div>
          {% endif %}

          <form method="post" class="col-10 col-sm-6 col-lg-4 text-center">
            <input class="form-control mb-1" type="email" name="email" value="{{last_username}}" placeholder="Email" required autofocus/>
            <input class="form-control mb-1" type="password" name="password" placeholder="Password" required/>
            <input class="form-control mb-1" type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button type="submit" class="genric-btn info">Login</button>
          </form>
          <div class="col-12"></div>
        </div>
      </div>
    </div>
  </footer>


{% endblock %}
