{% if app.user %}
  <ul id="UserHolder" class="navbar-nav d-md-flex d-none">
    <div class="linked-user-nav-blocks d-inline-flex">
      <li class="nav-item">
        <div id="ProfilePicture">
          <p id="Initials" class="fully-centered centered-contents no-margin">{{app.user.firstLetters}}</p>
        </div>
      </li>
      <li id="NavUser" class="nav-item">
        <h5 id="Name" class="no-margin">{{app.user.fullname}}</h5>
        <p id="Email" class="d-inline no-margin">{{app.user.email}}</p>
        <i class="fas fa-chevron-down float-right vertically-centered"></i>
      </li>
    </div>
    <div id="UserMenuDropdown" class="custom-dropdown d-none small-top-margin p-3">
      <a href="{{path('user_account')}}">
        <div class="option-item row m-0 justify-content-center">
          <button id="Presentations" class="btn btn-highlight single-line col-10">
            <i class="fas fa-user text-light"></i>&nbsp;{% trans %}Account{% endtrans %}</button>
        </div>
      </a>
      <a href="{{path('app_logout')}}">
        <div class="option-item row m-0 justify-content-center">
          <button id="Presentations" class="btn btn-danger mt-2 single-line col-10">
            {% trans %}Logout{% endtrans %}</button>
        </div>
      </a>
    </div>
  </ul>
{% else %}
  <ul class="mt-auto mb-auto p-0 mr-4">
    <a href="{{path('app_login')}}">
      <button class="btn mt-auto mb-auto btn-info bevel-btn">
        {% trans %}Login{% endtrans %}
      </button>
    </a>
    <a href="{{path('app_register')}}">
      <button class="btn mt-auto mb-auto btn-info bevel-btn">
        {% trans %}Sign up{% endtrans %}
      </button>
    </a>
  </ul>
{% endif %}
