{% extends 'base.html.twig' %}

{% block title %}
  Register
{% endblock %}

{% block body %}

  <footer class="footer mt-0">
    <div class="footer_top py-5 px-0 mt-0">
      <div class="container py-5">
        <div class="row justify-content-center gallery-item">
          <div class="col-12 p-5">
            <p style="text-align:center">
              <a href="/">
                <img src="/favicon/favicon-196x196.png" alt="Logo" style="max-width:100px">
              </a>
            </p>
            <h1 class="text-center">Register</h1>
            <h6 class="text-center">or
              <a href="/login">Log in</a>
            </h6>
          </div>

          {{ form_start(registrationForm, {'attr': {'class': 'col-10 col-sm-6 col-lg-4 text-center'}}) }}
          {{ form_row(registrationForm.fullname, {'attr': {'class': 'form-control mb-1'}})}}
          {{ form_row(registrationForm.email, {'attr': {'class': 'form-control mb-1'}})}}
          {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'form-control mb-1'} }) }}
          <button type="submit" class="genric-btn info">Register</button>
          {{ form_end(registrationForm) }}

        </div>
      </div>
    </div>
  </footer>
{% endblock %}
