<div id="Color_Templates_List" class="custom-dropdown d-none custom-scrollbar vertical-scroll">

  {% for template in constant('App\\Enum\\ColorTemplatesEnum::TEMPLATES') %}
    <div class="color_template_dropdown_item">
      <div class="colors-container">
        {% for color_name in constant('App\\Enum\\ColorTemplatesEnum::COLOR_NAMES') %}
          <div class="color template-icon-color" color-name-icon="{{ color_name }}" style="background-color: {{ template[color_name] }}" data-color="{{ template[color_name] }}"></div>
        {% endfor %}
      </div>
      <div class="d-inline template-text">
        <h6 class="template-header d-block no-margin">{{ template.name | trans }}</h6>
        <p class="template-desc no-margin">{{ template.description | trans }}</p>
      </div>
    </div>
  {% endfor %}

  {% if app.user %}
    {% if app.user.colorTemplates | length > 0 %}
      {% for template in app.user.colorTemplates %}
        <div class="color_template_dropdown_item" color-template-id="{{template.id}}">
          <div class="colors-container">
            <div class="color template-icon-color" color-name-icon="ACCENT_1" style="background-color: {{ template.ACCENT1 }}" data-color="{{ template.ACCENT1 }}"></div>
            <div class="color template-icon-color" color-name-icon="ACCENT_2" style="background-color: {{ template.ACCENT2 }}" data-color="{{ template.ACCENT3 }}"></div>
            <div class="color template-icon-color" color-name-icon="ACCENT_3" style="background-color: {{ template.ACCENT3 }}" data-color="{{ template.ACCENT4 }}"></div>
            <div class="color template-icon-color" color-name-icon="ACCENT_4" style="background-color: {{ template.ACCENT4 }}" data-color="{{ template.ACCENT5 }}"></div>
            <div class="color template-icon-color" color-name-icon="ACCENT_5" style="background-color: {{ template.ACCENT5 }}" data-color="{{ template.ACCENT5 }}"></div>
            <div class="color template-icon-color" color-name-icon="ACCENT_6" style="background-color: {{ template.ACCENT6 }}" data-color="{{ template.ACCENT6 }}"></div>
            <div class="color template-icon-color" color-name-icon="BACKGROUND_1" style="background-color: {{ template.BACKGROUND1 }}" data-color="{{ template.BACKGROUND1 }}"></div>
            <div class="color template-icon-color" color-name-icon="BACKGROUND_2" style="background-color: {{ template.BACKGROUND2 }}" data-color="{{ template.BACKGROUND2 }}"></div>
            <div class="color template-icon-color" color-name-icon="TEXT_1" style="background-color: {{ template.TEXT1 }}" data-color="{{ template.TEXT1 }}"></div>
            <div class="color template-icon-color" color-name-icon="TEXT_2" style="background-color: {{ template.TEXT2 }}" data-color="{{ template.TEXT2 }}"></div>
          </div>
          <div class="d-inline template-text">
            <h6 class="template-header d-block no-margin">{{ template.title }}</h6>
            <p class="template-desc no-margin">{{ template.description }}</p>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  {% endif %}
</div>
