{% extends 'base.html.twig' %}

{% block title %}
  {% trans %}Pricing{% endtrans %}
{% endblock %}

{% block style %}
  {{parent()}}
  {{ encore_entry_link_tags('pricing') }}
{% endblock %}

{% block body %}
<div id="Section_Pricing" class="row no-margin section">
    <div class="container">
      <div class="row no-margin">
        <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 col-12 no-padding medium-bottom-margin">
          <div class="medium-bottom-margin">
            <h1 class="section-header centered-contents">{% trans %}Pricing_Header_Title{% endtrans %}</h1>
            <p class="opening-paragraph  centered-contents medium-bottom-margin">{% trans %}Pricing_Header_Subtitle{% endtrans %}</p>
          </div>
        </div>

        <div class="col-12 medium-bottom-margin">
          <div id="PlanDurationToggle" class="toggle-container">
            <div class="toggle-sub-container">
              <div id="Opt_Annually" class="toggle-option">
                <span class="toggle-text-main clamp-2">{% trans %}BTN_Annually{% endtrans %}</span>
                <span class="toggle-text-sub clamp-2">{% trans %}Text_Save_20{% endtrans %}</span>
              </div>
              <div id="Opt_Monthly" class="toggle-option active">
                <span class="toggle-text-main clamp-2">{% trans %}BTN_Monthly{% endtrans %}</span>
              </div>
            </div>
          </div>
        </div>

<!--          <div id="Pricing_Plans_Resp" class="col-12 medium-top-margin d-xl-none d-block">
          <div class="resp-plan medium-bottom-margin collapsed">
            <div class="row">
              <div class="col-lg-9 col-md-8 col-6 parameter">
                <div class="vertically-centered">
                  <strong>{% trans %}Free_Plan_Title{% endtrans %}</strong>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-6 value">
                <div class="vertically-centered">
                  <strong>$30</strong>
                  <i class="fas fa-sort-down plan-toggle vertically-centered"></i>
                  <p class="text-grey plan-dur small-top-margin">/
                    {% trans %}Time_month{% endtrans %}</p>
                </div>
              </div>
            </div>
            <div class="row plan-details collapse">
              <div class="col-12">
                <button class="btn btn-landing-action btn-full tray-btn">{% trans %}Sign Up{% endtrans %}</button>
              </div>
            </div><br class="plan-details collapse">
            <div class="row plan-details collapse">
              <div class="col-12">
                <p class="text-grey">{% trans %}Section_1_Title_Account{% endtrans %}</p>
              </div>
            </div><hr class="plan-details collapse">
            <div class="row plan-details collapse">
              <div class="col-lg-9 col-md-8 col-6 parameter">
                <p>{% trans %}Num_of_Presentations{% endtrans %}</p>
              </div>
              <div class="col-lg-3 col-md-4 col-6 value">
                <p>{% trans %}10 mins{% endtrans %}</p>
              </div>
            </div>
            <div class="row plan-details collapse">
              <div class="col-lg-9 col-md-8 col-6 parameter">
                <p>{% trans %}Num_of_Presentations{% endtrans %}</p>
              </div>
              <div class="col-lg-3 col-md-4 col-6 value">
                <p>{% trans %}1{% endtrans %}</p>
              </div>
            </div>
            <div class="row plan-details collapse">
              <div class="col-lg-9 col-md-8 col-6 parameter">
                <p>{% trans %}Num_of_Presentations{% endtrans %}</p>
              </div>
              <div class="col-lg-3 col-md-4 col-6 value">
                <p>{% trans %}1{% endtrans %}</p>
              </div>
            </div><br class="plan-details collapse">
            <div class="row plan-details collapse">
              <div class="col-12">
                <p class="text-grey">{% trans %}Section_1_Title_Account{% endtrans %}</p>
              </div>
            </div>
            <hr class="plan-details collapse">
            <div class="row plan-details collapse">
              <div class="col-lg-9 col-md-8 col-6 parameter">
                <p>{% trans %}Num_of_Presentations{% endtrans %}</p>
              </div>
              <div class="col-lg-3 col-md-4 col-6 value">
                <p>
                  <i class="fas fa-check"></i>
                </p>
              </div>
            </div>
            <div class="row plan-details collapse">
              <div class="col-lg-9 col-md-8 col-6 parameter">
                <p>{% trans %}Num_of_Presentations{% endtrans %}</p>
              </div>
              <div class="col-lg-3 col-md-4 col-6 value">
                <p>
                  <i class="fas fa-minus"></i>
                </p>
              </div>
            </div>
            <div class="row plan-details collapse">
              <div class="col-lg-9 col-md-8 col-6 parameter">
                <p>{% trans %}Num_of_Presentations{% endtrans %}</p>
              </div>
              <div class="col-lg-3 col-md-4 col-6 value">
                <p>
                  <i class="fas fa-check"></i>
                </p>
              </div>
            </div>
          </div>
          <div class="resp-plan medium-bottom-margin collapsed">
            <div class="row">
              <div class="col-lg-9 col-md-8 col-6 parameter">
                <div class="vertically-centered">
                  <strong>{% trans %}Small Team{% endtrans %}</strong>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-6 value">
                <div class="vertically-centered">
                  <strong>$120</strong>
                  <i class="fas fa-sort-down plan-toggle vertically-centered"></i>
                  <p class="text-grey plan-dur small-top-margin">/
                    {% trans %}Time_month{% endtrans %}</p>
                </div>
              </div>
            </div>
            <div class="row plan-details collapse">
              <div class="col-12">
                <button class="btn btn-landing-action btn-full tray-btn">{% trans %}Sign Up{% endtrans %}</button>
              </div>
            </div><br class="plan-details collapse">
            <div class="row plan-details collapse">
              <div class="col-12">
                <p class="text-grey">Section_1_Title_Account</p>
              </div>
            </div><hr class="plan-details collapse">
            <div class="row plan-details collapse">
              <div class="col-lg-9 col-md-8 col-6 parameter">
                <p>{% trans %}Num_of_Presentations{% endtrans %}</p>
              </div>
              <div class="col-lg-3 col-md-4 col-6 value">
                <p>{% trans %}1{% endtrans %}</p>
              </div>
            </div>
            <div class="row plan-details collapse">
              <div class="col-lg-9 col-md-8 col-6 parameter">
                <p>{% trans %}Num_of_Presentations{% endtrans %}</p>
              </div>
              <div class="col-lg-3 col-md-4 col-6 value">
                <p>{% trans %}1{% endtrans %}</p>
              </div>
            </div>
            <div class="row plan-details collapse">
              <div class="col-lg-9 col-md-8 col-6 parameter">
                <p>{% trans %}Num_of_Presentations{% endtrans %}</p>
              </div>
              <div class="col-lg-3 col-md-4 col-6 value">
                <p>{% trans %}1{% endtrans %}</p>
              </div>
            </div><br class="plan-details collapse">
            <div class="row plan-details collapse">
              <div class="col-12">
                <p class="text-grey">{% trans %}Section_1_Title_Account{% endtrans %}</p>
              </div>
            </div><hr class="plan-details collapse">
            <div class="row plan-details collapse">
              <div class="col-lg-9 col-md-8 col-6 parameter">
                <p>{% trans %}Num_of_Presentations{% endtrans %}</p>
              </div>
              <div class="col-lg-3 col-md-4 col-6 value">
                <p>
                  <i class="fas fa-check"></i>
                </p>
              </div>
            </div>
            <div class="row plan-details collapse">
              <div class="col-lg-9 col-md-8 col-6 parameter">
                <p>{% trans %}Num_of_Presentations{% endtrans %}</p>
              </div>
              <div class="col-lg-3 col-md-4 col-6 value">
                <p>
                  <i class="fas fa-minus"></i>
                </p>
              </div>
            </div>
            <div class="row plan-details collapse">
              <div class="col-lg-9 col-md-8 col-6 parameter">
                <p>{% trans %}Num_of_Presentations{% endtrans %}</p>
              </div>
              <div class="col-lg-3 col-md-4 col-6 value">
                <p>
                  <i class="fas fa-check"></i>
                </p>
              </div>
            </div>
          </div>
          <div class="resp-plan medium-bottom-margin collapsed">
            <div class="row">
              <div class="col-lg-9 col-md-8 col-6 parameter">
                <div class="vertically-centered">
                  <strong>{% trans %}Enterprise{% endtrans %}</strong>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-6 value">
                <div class="vertically-centered">
                  <strong>$175</strong>
                  <i class="fas fa-sort-down plan-toggle vertically-centered"></i>
                  <p class="text-grey plan-dur small-top-margin">/{% trans %}Time_month{% endtrans %}</p>
                </div>
              </div>
            </div>
            <div class="row plan-details collapse">
              <div class="col-12">
                <button class="btn btn-landing-action btn-full tray-btn">{% trans %}Sign Up{% endtrans %}</button>
              </div>
            </div><br class="plan-details collapse">
            <div class="row plan-details collapse">
              <div class="col-12">
                <p class="text-grey">{% trans %}Section_1_Title_Account{% endtrans %}</p>
              </div>
            </div><hr class="plan-details collapse">
            <div class="row plan-details collapse">
              <div class="col-lg-9 col-md-8 col-6 parameter">
                <p>{% trans %}Num_of_Presentations{% endtrans %}</p>
              </div>
              <div class="col-lg-3 col-md-4 col-6 value">
                <p>{% trans %}1{% endtrans %}</p>
              </div>
            </div>
            <div class="row plan-details collapse">
              <div class="col-lg-9 col-md-8 col-6 parameter">
                <p>{% trans %}Num_of_Presentations{% endtrans %}</p>
              </div>
              <div class="col-lg-3 col-md-4 col-6 value">
                <p>{% trans %}1{% endtrans %}</p>
              </div>
            </div>
            <div class="row plan-details collapse">
              <div class="col-lg-9 col-md-8 col-6 parameter">
                <p>{% trans %}Num_of_Presentations{% endtrans %}</p>
              </div>
              <div class="col-lg-3 col-md-4 col-6 value">
                <p>{% trans %}1{% endtrans %}</p>
              </div>
            </div><br class="plan-details collapse">
            <div class="row plan-details collapse">
              <div class="col-12">
                <p class="text-grey">{% trans %}Section_1_Title_Account{% endtrans %}</p>
              </div>
            </div><hr class="plan-details collapse">
            <div class="row plan-details collapse">
              <div class="col-lg-9 col-md-8 col-6 parameter">
                <p>{% trans %}Num_of_Presentations{% endtrans %}</p>
              </div>
              <div class="col-lg-3 col-md-4 col-6 value">
                <p>
                  <i class="fas fa-check"></i>
                </p>
              </div>
            </div>
            <div class="row plan-details collapse">
              <div class="col-lg-9 col-md-8 col-6 parameter">
                <p>{% trans %}Num_of_Presentations{% endtrans %}</p>
              </div>
              <div class="col-lg-3 col-md-4 col-6 value">
                <p>
                  <i class="fas fa-minus"></i>
                </p>
              </div>
            </div>
            <div class="row plan-details collapse">
              <div class="col-lg-9 col-md-8 col-6 parameter">
                <p>{% trans %}Num_of_Presentations{% endtrans %}</p>
              </div>
              <div class="col-lg-3 col-md-4 col-6 value">
                <p>
                  <i class="fas fa-check"></i>
                </p>
              </div>
            </div>
          </div>
        </div>
-->



        <div class="rtl col-12 medium-top-margin d-xl-block d-none">
          <div id="Pricing_Plans" class="panel pricing-table">
            <div class="pricing-plan">
              <div class="price-head small-bottom-margin">
                <img src="/Images/media.png" alt="" class="pricing-img">
                <h2 class="pricing-header small-bottom-margin clamp-2">{% trans %}Free_Plan_Title{% endtrans %}</h2>
              </div>
              <div class="plan-desc clamp-4">
                <p class="price-plan-description no-margin">{% trans %}Free_Plan_Description{% endtrans %}</p>
              </div>
              <div class="price-details">
                <span class="pricing-price">
                  <sup class="currency">{% trans %}Currency_Local{% endtrans %}</sup>
                  <span class="amount amt-monthly">0</span>
                  <span class="amount amt-annually collapse">0</span>
                  <sub class="plan-duration horizontal-text-clip">/{% trans %}Time_month{% endtrans %}</sub>
                  <!-- <span class="original-price annually collapse">{% trans %}Currency_Local{% endtrans %} 100</span> -->
                </span>
                <p class="price-summary small-bottom-margin monthly-summary">{% trans %}Text_Free{% endtrans %}</p>
                <p class="price-summary small-bottom-margin annually-summary collapse">{% trans %}Text_Free{% endtrans %}</p>
              </div>

              <a href="{{path('app_register')}}">
                <button class="btn btn-primary btn-full price-btn horizontal-text-clip">{% trans %}BTN_Register_Now{% endtrans %}</button>
              </a>
            </div>

            <div class="pricing-plan highlight">
              <div class="price-head small-bottom-margin">
                <img src="/Images/intrinsic.png" alt="" class="pricing-img">
                <h2 class="pricing-header small-bottom-margin clamp-2">{% trans %}Basic_Plan_Title{% endtrans %}</h2>
              </div>
              <div class="plan-desc clamp-4">
                <p class="price-plan-description no-margin">{% trans %}Basic_Plan_Description{% endtrans %}</p>
              </div>
              <div class="price-details">
                <span class="pricing-price">
                  <sup class="currency">{% trans %}Currency_Local{% endtrans %}</sup>
                  <span class="amount amt-monthly">49</span>
                  <span class="amount amt-annually collapse">{% trans %}Basic_Plan_Price_year{% endtrans %}</span>
                  <sub class="plan-duration horizontal-text-clip">/{% trans %}Time_month{% endtrans %}</sub>
                  <span class="original-price annually collapse">{% trans %}Text_Insteadof{% endtrans %} {% trans %}Basic_Plan_Price_month{% endtrans %} {% trans %}Currency_Local{% endtrans %}  </span>
                </span>
                <p class="price-summary small-bottom-margin monthly-summary">{% trans %}Billed_Monthly{% endtrans %}</p>
                <p class="price-summary small-bottom-margin annually-summary collapse">{% trans %}Billed_Yearly{% endtrans %}</p>
              </div>

              <a href="{{path('app_register')}}">
                <button class="btn btn-primary btn-full price-btn horizontal-text-clip">{% trans %}BTN_Try_14_Days{% endtrans %}</button>
              </a>
            </div>

            <div class="pricing-plan">
              <div class="price-head small-bottom-margin">
                <img src="/Images/yellowMedia.png" alt="" class="pricing-img">
                <h2 class="pricing-header small-bottom-margin clamp-2">{% trans %}Premium_Plan_Title{% endtrans %}</h2>
              </div>

              <div class="plan-desc clamp-4">
                <p class="price-plan-description no-margin">{% trans %}Premium_Plan_Description{% endtrans %}</p>
              </div>
              <div class="price-details">
                <span class="pricing-price">
                  <sup class="currency">{% trans %}Currency_Local{% endtrans %}</sup>
                  <span class="amount amt-monthly">{% trans %}Premium_Plan_Price_month{% endtrans %}</span>
                  <span class="amount amt-annually collapse">{% trans %}Premium_Plan_Price_year{% endtrans %}</span>
                  <sub class="plan-duration horizontal-text-clip">/{% trans %}Time_month{% endtrans %}</sub>
                  <span class="original-price annually collapse">{% trans %}Text_Insteadof{% endtrans %} {% trans %}Premium_Plan_Price_month{% endtrans %} {% trans %}Currency_Local{% endtrans %} </span>
                </span>
                <p class="price-summary small-bottom-margin monthly-summary">{% trans %}Billed_Monthly{% endtrans %}</p>
                <p class="price-summary small-bottom-margin annually-summary collapse">{% trans %}Billed_Yearly{% endtrans %}</p>
              </div>
              <a href="{{path('app_register')}}">
                <button class="btn btn-primary btn-full price-btn horizontal-text-clip">{% trans %}BTN_Try_14_Days{% endtrans %}</button>
              </a>
            </div>
          </div>
        </div>


        <div id="Price_Plans_Table" class="col-12 d-xl-block d-none">
          <div class="rtl row no-margin header-row">
            <div class="col-3 row-header">{% trans %}Section_1_Title_Account{% endtrans %}</div>
            <div class="col-3 row-header"></div>
            <div class="col-3 row-header"></div>
            <div class="col-3 row-header highlight"></div>
          </div>
          <div class="rtl row no-margin">
            <div class="col-3 parameter">
              <span class="table-content">{% trans %}Num_of_Presentations{% endtrans %}</span>
              <span data-toggle="tooltip" title="{% trans %}Num_of_Presentations_popup{% endtrans %}" data-placement="bottom">
                <i class="fas fa-info-circle content-info"></i>
              </span>
            </div>
            <div class="col-3">
              <span class="table-content">{% trans %}1{% endtrans %}</span>
            </div>
            <div class="col-3">
              <span class="table-content">{% trans %}20{% endtrans %}</div>
              <div class="col-3">
                <span class="table-content">{% trans %}100{% endtrans %}</div>
              </div>
              <div class="rtl row no-margin">
                <div class="col-3 parameter">
                  <span class="table-content">{% trans %}Num_of_Slides{% endtrans %}</span>
                  <span data-toggle="tooltip" title="{% trans %}Num_of_Slides_popup{% endtrans %}" data-placement="bottom">
                    <i class="fas fa-info-circle content-info"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">{% trans %}25{% endtrans %}</span>
                </div>
                <div class="col-3">
                  <span class="table-content">{% trans %}1,000{% endtrans %}</span>
                </div>
                <div class="col-3">
                  <span class="table-content">{% trans %}Unlimited{% endtrans %}</span>
                </div>
              </div>
              <div class="rtl row no-margin">
                <div class="col-3 parameter">
                  <span class="table-content">{% trans %}Auto_Save{% endtrans %}</span>
                  <span data-toggle="tooltip" title="{% trans %}Auto_Save_popup{% endtrans %}" data-placement="bottom">
                    <i class="fas fa-info-circle content-info"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content"><i class="fas fa-check"></i></span>
                </div>
                <div class="col-3">
                  <span class="table-content"><i class="fas fa-check"></i></span>
                </div>
                <div class="col-3">
                  <span class="table-content"><i class="fas fa-check"></i></span>
                </div>
              </div>
              <div class="rtl row no-margin">
                <div class="col-3 parameter">
                  <span class="table-content">{% trans %}Download_PPTX{% endtrans %}</span>
                  <span data-toggle="tooltip" title="{% trans %}Download_PPTX_popup{% endtrans %}" data-placement="bottom">
                    <i class="fas fa-info-circle content-info"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content"><i class="fas fa-check"></i></span>
                </div>
                <div class="col-3">
                  <span class="table-content"><i class="fas fa-check"></i></span>
                </div>
                <div class="col-3">
                  <span class="table-content"><i class="fas fa-check"></i></span>
                </div>
              </div>
              <div class="rtl row no-margin">
                <div class="col-3 parameter">
                  <span class="table-content">{% trans %}Download_PDF{% endtrans %}</span>
                  <span data-toggle="tooltip" title="{% trans %}Download_PDF_popup{% endtrans %}" data-placement="bottom">
                    <i class="fas fa-info-circle content-info"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content"><i class="fas fa-check"></i></span>
                </div>
                <div class="col-3">
                  <span class="table-content"><i class="fas fa-check"></i></span>
                </div>
                <div class="col-3">
                  <span class="table-content"><i class="fas fa-check"></i></span>
                </div>
              </div>
              <div class="rtl row no-margin">
                <div class="col-3 parameter">
                  <span class="table-content">{% trans %}Download_Google_Slides{% endtrans %}</span>
                  <span data-toggle="tooltip" title="{% trans %}Popover Text{% endtrans %}" data-placement="bottom">
                    <i class="fas fa-info-circle content-info"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content"></span>
                </div>
                <div class="col-3">
                  <span class="table-content">{% trans %}Coming_Soon{% endtrans %}</span>
                </div>
                <div class="col-3">
                  <span class="table-content">{% trans %}Coming_Soon{% endtrans %}</span>
                </div>
              </div>
              <div class="rtl row no-margin header-row">
                <div class="col-3 row-header">{% trans %}Section_2_Title_Designs{% endtrans %}</div>
                <div class="col-3 row-header"></div>
                <div class="col-3 row-header"></div>
                <div class="col-3 row-header highlight"></div>
              </div>
              <div class="rtl row no-margin">
                <div class="col-3 parameter">
                  <span class="table-content">{% trans %}Colors_Templates{% endtrans %}</span>
                  <span data-toggle="tooltip" title="{% trans %}Colors_Templates_popup{% endtrans %}" data-placement="bottom">
                    <i class="fas fa-info-circle content-info"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
              </div>
<div class="rtl row no-margin">
                <div class="col-3 parameter">
                  <span class="table-content">{% trans %}Layouts_Select{% endtrans %}</span>
                  <span data-toggle="tooltip" title="{% trans %}Layouts_Select_popup{% endtrans %}" data-placement="bottom">
                    <i class="fas fa-info-circle content-info"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
              </div>
              <div class="rtl row no-margin">
                <div class="col-3 parameter">
                  <span class="table-content">{% trans %}Library_Images{% endtrans %}</span>
                  <span data-toggle="tooltip" title="{% trans %}Library_Images_popup{% endtrans %}" data-placement="bottom">
                    <i class="fas fa-info-circle content-info"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
              </div>
              <div class="rtl row no-margin">
                <div class="col-3 parameter">
                  <span class="table-content">{% trans %}Library_Icons{% endtrans %}</span>
                  <span data-toggle="tooltip" title="{% trans %}Library_Icons_popup{% endtrans %}" data-placement="bottom">
                    <i class="fas fa-info-circle content-info"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
              </div>
              <div class="rtl row no-margin">
                <div class="col-3 parameter">
                  <span class="table-content">{% trans %}Preview_Full_Screen{% endtrans %}</span>
                  <span data-toggle="tooltip" title="{% trans %}Preview_Full_Screen_popup{% endtrans %}" data-placement="bottom">
                    <i class="fas fa-info-circle content-info"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
              </div>
              
              <div class="rtl row no-margin">
                <div class="col-3 parameter">
                  <span class="table-content">{% trans %}Designs_Basic{% endtrans %}</span>
                  <span data-toggle="tooltip" title="{% trans %}Designs_Basic_popup{% endtrans %}" data-placement="bottom">
                    <i class="fas fa-info-circle content-info"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
              </div>
              <div class="rtl row no-margin">
                <div class="col-3 parameter">
                  <span class="table-content">{% trans %}Designs_All_Premium{% endtrans %}</span>
                  <span data-toggle="tooltip" title="{% trans %}Designs_All_Premium_popup{% endtrans %}" data-placement="bottom">
                    <i class="fas fa-info-circle content-info"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content"></span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
              </div>
              
              <div class="rtl row no-margin header-row">
                <div class="col-3 row-header">{% trans %}Section_3_Title_Analysis{% endtrans %}</div>
                <div class="col-3 row-header"></div>
                <div class="col-3 row-header"></div>
                <div class="col-3 row-header highlight"></div>
              </div>
              <div class="rtl row no-margin">
                <div class="col-3 parameter">
                  <span class="table-content">{% trans %}Auto_Content_Analysis{% endtrans %}</span>
                  <span data-toggle="tooltip" title="{% trans %}Auto_Content_Analysis_popup{% endtrans %}" data-placement="bottom">
                    <i class="fas fa-info-circle content-info"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
              </div>
              <div class="rtl row no-margin">
                <div class="col-3 parameter">
                  <span class="table-content">{% trans %}Auto_Slides_Split{% endtrans %}</span>
                  <span data-toggle="tooltip" title="{% trans %}Auto_Slides_Split_popup{% endtrans %}" data-placement="bottom">
                    <i class="fas fa-info-circle content-info"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
              </div>
              <div class="rtl row no-margin">
                <div class="col-3 parameter">
                  <span class="table-content">{% trans %}Multi_Language_Support{% endtrans %}</span>
                  <span data-toggle="tooltip" title="{% trans %}Multi_Language_Support_popup{% endtrans %}" data-placement="bottom">
                    <i class="fas fa-info-circle content-info"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                     <i class="fas fa-check"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
              </div>
              <div class="rtl row no-margin">
                <div class="col-3 parameter">
                  <span class="table-content">{% trans %}Upload_DOCX{% endtrans %}</span>
                  <span data-toggle="tooltip" title="{% trans %}Upload_DOCX_popup{% endtrans %}" data-placement="bottom">
                    <i class="fas fa-info-circle content-info"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">{% trans %}Coming_Soon{% endtrans %}
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">{% trans %}Coming_Soon{% endtrans %}
                  </span>
                </div>
              </div>
              <div class="rtl row no-margin">
                <div class="col-3 parameter">
                  <span class="table-content">{% trans %}Upload_PPTX{% endtrans %}</span>
                  <span data-toggle="tooltip" title="{% trans %}Upload_PPTX_popup{% endtrans %}" data-placement="bottom">
                    <i class="fas fa-info-circle content-info"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">{% trans %}Coming_Soon{% endtrans %}
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">{% trans %}Coming_Soon{% endtrans %}
                  </span>
                </div>
              </div>
              <div class="rtl row no-margin">
                <div class="col-3 parameter">
                  <span class="table-content">{% trans %}Tables_Support{% endtrans %}</span>
                  <span data-toggle="tooltip" title="{% trans %}Tables_Support_popup{% endtrans %}" data-placement="bottom">
                    <i class="fas fa-info-circle content-info"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">{% trans %}Coming_Soon{% endtrans %}
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">{% trans %}Coming_Soon{% endtrans %}
                  </span>
                </div>
              </div>
              <div class="rtl row no-margin">
                <div class="col-3 parameter">
                  <span class="table-content">{% trans %}Graphs_Support{% endtrans %}</span>
                  <span data-toggle="tooltip" title="{% trans %}Graphs_Support_popup{% endtrans %}" data-placement="bottom">
                    <i class="fas fa-info-circle content-info"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">{% trans %}Coming_Soon{% endtrans %}
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">{% trans %}Coming_Soon{% endtrans %}
                  </span>
                </div>
              </div>

              <div class="rtl row no-margin header-row">
                <div class="col-3 row-header">{% trans %}Section_4_Title_Branding{% endtrans %}</div>
                <div class="col-3 row-header"></div>
                <div class="col-3 row-header"></div>
                <div class="col-3 row-header highlight"></div>
              </div>
              <div class="rtl row no-margin">
                <div class="col-3 parameter">
                  <span class="table-content">{% trans %}Upload_Logo{% endtrans %}</span>
                  <span data-toggle="tooltip" title="{% trans %}Upload_Logo_popup{% endtrans %}" data-placement="bottom">
                    <i class="fas fa-info-circle content-info"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
              </div>
              <div class="rtl row no-margin">
                <div class="col-3 parameter">
                  <span class="table-content">{% trans %}Upload_Images{% endtrans %}</span>
                  <span data-toggle="tooltip" title="{% trans %}Upload_Images_popup{% endtrans %}" data-placement="bottom">
                    <i class="fas fa-info-circle content-info"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
              </div>
              <div class="rtl row no-margin">
                <div class="col-3 parameter">
                  <span class="table-content">{% trans %}Upload_Icons{% endtrans %}</span>
                  <span data-toggle="tooltip" title="{% trans %}Upload_Icons_popup{% endtrans %}" data-placement="bottom">
                    <i class="fas fa-info-circle content-info"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
              </div>
                            <div class="rtl row no-margin">
                <div class="col-3 parameter">
                  <span class="table-content">{% trans %}Slide_Number{% endtrans %}</span>
                  <span data-toggle="tooltip" title="{% trans %}Upload_Icons_popup{% endtrans %}" data-placement="bottom">
                    <i class="fas fa-info-circle content-info"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
              </div>
              <div class="rtl row no-margin">
                <div class="col-3 parameter">
                  <span class="table-content">{% trans %}Slides_Footer{% endtrans %}</span>
                  <span data-toggle="tooltip" title="{% trans %}Slides_Footer_popup{% endtrans %}" data-placement="bottom">
                    <i class="fas fa-info-circle content-info"></i>
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">{% trans %}Coming_Soon{% endtrans %}
                  </span>
                </div>
                <div class="col-3">
                  <span class="table-content">{% trans %}Coming_Soon{% endtrans %}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="Section_FAQ" class="row no-margin ">
        <div class="container">
          <div class="rtl row">
            <div class="col-lg-4 col-12">
              <div class="FAQ-title">
                <h2>{% trans %}FAQ{% endtrans %}</h2>
              </div>
            </div>
            <div class="col-lg-8 col-12">
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default line">
                  <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
                    <h3 class="panel-title">
                      <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
                        {% trans %}Question_1{% endtrans %} <i class="fas fa-chevron-down"></i>
                      </a>
                    </h3>
                  </div>
                  <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                    <div class="panel-body px-3 mb-4">
                      <p>{% trans %}Answer_1{% endtrans %}</p>
                      </div>
                  </div>
                </div>
                <div class="panel panel-default line">
                  <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
                    <h3 class="panel-title">
                      <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                        {% trans %}Question_2{% endtrans %} <i class="fas fa-chevron-down"></i>
                      </a>
                    </h3>
                  </div>
                  <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                    <div class="panel-body px-3 mb-4">
                      <p>{% trans %}Answer_2{% endtrans %}</p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default line">
                  <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                    <h3 class="panel-title">
                      <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                        {% trans %}Question_3{% endtrans %} <i class="fas fa-chevron-down"></i>
                      </a>
                    </h3>
                  </div>
                  <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                    <div class="panel-body px-3 mb-4">
                      <p>{% trans %}Answer_3{% endtrans %}</p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default line">
                  <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
                    <h3 class="panel-title">
                      <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                        {% trans %}Question_4{% endtrans %} <i class="fas fa-chevron-down"></i>
                      </a>
                    </h3>
                  </div>
                  <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                    <div class="panel-body px-3 mb-4">
                      <p>{% trans %}Answer_4{% endtrans %}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% block script %}
    {{parent()}}
    {{ encore_entry_script_tags('pricing') }}
  {% endblock %}

{% endblock %}
