{% extends 'base.html.twig' %}

{% block title %}
  {{ post.title }}
{% endblock %}

{% block body %}
  <div class="bradcam_area slider_bg_2" style="padding-top: 150px;">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="bradcam_text text-center">
            <div class="d-inline-block p-5" style="border-radius:50%; background-color:rgba(255,255,255,0.1);cursor:pointer;">
              <img src="/img/logo.png" alt="" width="200px" for="smart_sonar_demo" onclick="scroll_to(this)">
            </div>
            <h2 class="text-white pt-5">{{ post.title }}</h2>
            <h4 class="text-white">
              by
              {{ post.owner.fullname }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="mt-50">
    <div class="container">
      <div class="row">
        <div class="col-12 text-right mb-5 text-secondary">
          <i class="far fa-calendar-alt"></i>
          Last update:
          {{ post.updatedAt|date('Y-m-d')}}

          {% if is_granted('ROLE_ADMIN') %}
            /
            <a href="/admin/?entity=Post&action=edit&id={{post.id}}" target="_blank">
              Edit
              <i class="fas fa-pen-nib"></i>
            </a>
          {% endif %}
        </div>



        <p class="col-12 h4 mb-5" style="font-style:italic;word-break: break-word">
          <span>
            <i class="fas fa-quote-left mr-2"></i>
          </span>
          {{ post.abstract }}
          <span>
            <i class="fas fa-quote-right ml-2"></i>
          </span>
        </p>


        <div class="col-12 mb-5">
          {{ post.content | raw}}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
