{% extends 'base.html.twig' %}

{% block title %}
  {% trans %}Editor{% endtrans %}
{% endblock %}


{% block style %}
  {{parent()}}
  {{ encore_entry_link_tags('editor') }}
{% endblock %}
{% block body %}

  <h1 class="col-12 text-center py-5 my-5">{% trans %}Coming soon{% endtrans %}</h1>
  <button onclick="alp()">alp</button>


  <div class="form-group m-0">

    <input id="slideTitle" type="text" class="form-control data-hj-whitelist" placeholder="">

  </div>
  <div class="form-group">
    <strong>
      <label style="font-size:30px;" class="m-0">תוכן השקף: (טקסט, בולטים וכו')</label>
    </strong>

    <div class="border p-1 inline-editor" style="width: 100%;background-color:rgb(241, 241, 241);">
      <i class="fas fa-align-left border p-2" id="entry_to_ltr" style="cursor:pointer" data-toggle="tooltip" data-placement="top" title="LTR"></i>
      <i class="fas fa-align-right border p-2" id="entry_to_rtl" style="cursor:pointer" data-toggle="tooltip" data-placement="top" title="RTL"></i>
      <i class="fas fa-remove-format border p-2" id="entry_remove_format" style="cursor:pointer" data-toggle="tooltip" data-placement="top" title="הסר את הפורמט"></i>
      <i class="fas fa-eraser border p-2" id="entry_clear_content" style="cursor:pointer" data-toggle="tooltip" data-placement="top" title="תוכן ברור" ></i>
    </div>
    <div id="area" class="col-12 border pt-2" style="height: 300px;overflow-y: scroll;" contenteditable autofocus></div>
  </div>


  <pre>
{{ dump(presentation) }}
	</pre>

{% endblock %}

{% block script %}
  {{parent()}}
  {{ encore_entry_script_tags('editor') }}
{% endblock %}
