<div id="Section_Footer" class="row no-margin section">
  <div class="container">
    <div class="row no-margin">
      <div class="col-lg-4 col-md-6 col-12 medium-bottom-margin bottom-bordered">
        <a class="navbar-brand float-left" href="#">
          Slideo
        </a>
        <div id="Contact_Points">
          <a href="#" target="_blank" class="mx-1">
            <img class="contact-item" src="/img/instagram_icon.jpg">
          </a>
          <a href="#" target="_blank" class="mx-1">
            <img class="contact-item" src="/img/twitter_icon.jpg">
          </a>
          <a href="mailto:elad@slideo.co.il" target="_blank" class="mx-1">
            <img class="contact-item" src="/img/mail_icon.jpg">
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-12 medium-bottom-margin bottom-bordered">
        <div class="row no-margin">
          <div id="Links_List"
            class="offset-lg-2 col-lg-8 offset-md-1 col-md-10 col-12 no-padding medium-bottom-margin">
            <a class="list-item list-head" href="#">{% trans %}Quick Links{% endtrans %}</a>
            <a class="list-item" href="{{path('index')}}">{% trans %}Home{% endtrans %}</a>
            <a class="list-item" href="{{path('app_login')}}">{% trans %}Login{% endtrans %}</a>
            <a class="list-item" href="{{path('app_register')}}">{% trans %}Signup{% endtrans %}</a>
            <a class="list-item" href="{{path('editor')}}">{% trans %}Editor{% endtrans %}</a>
            <a class="list-item" href="mailto:elad@slideo.co.il">{% trans %}Email us{% endtrans %}</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 medium-bottom-margin bottom-bordered">
        <div class="btn-group dropup">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="true">
            {% trans %}Language{% endtrans %}
          </button>
          <div class="dropdown-menu" x-placement="top-start"
            style="position: absolute; transform: translate3d(0px, -165px, 0px); top: 0px; left: 0px; will-change: transform;">
            {% for locale,language in constant('App\\Enum\\LanguagesEnum::AVAILABLE_TYPES') %}
            {%  if locale == app.request.locale  %}
            <a class="dropdown-item bg-secondary" href="/locale/{{ locale }}">
              {{ language}}
            </a>
            {% else %}
            <a class="dropdown-item" href="/locale/{{ locale }}">
              {{ language}}
            </a>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-12">
        <p id="Copyright_Statement">&copy;Copyright <span id="Copyright_Year">2020</span> Slideo</p>
      </div>
    </div>
  </div>
</div>
<div id="pageBackdrop" class="backdrop collapse"></div>