<footer class="footer-area">
  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
        <div class="footer-logo">
          <img src="{{asset('favicon/favicon-196x196.png')}}" alt="" width="120px">
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
        <h4>
          {% trans %}Contact{% endtrans %}
        </h4>
        <div class="footer-address">
          <span>Email : elad@slideo.co.il</span>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
        <h4>{% trans %}Links{% endtrans %}</h4>
        <ul>
          <li><a href="{{path('index')}}">{% trans %}Home{% endtrans %}</a></li>
          <li><a href="{{path('editor')}}">{% trans %}Editor{% endtrans %}</a></li>
          <li><a href="mailto:elad.darmon@gmail.com">{% trans %}Contact{% endtrans %}</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-8 mb-4 mb-xl-0 single-footer-widget">
        <div class="btn-group dropup">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {% trans %}Language{% endtrans %}
          </button>
          <div class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -165px, 0px); top: 0px; left: 0px; will-change: transform;">
            {% for locale,language in constant('App\\Enum\\LanguagesEnum::AVAILABLE_TYPES') %}
              {%  if locale == app.request.locale  %}
                <a class="dropdown-item bg-secondary" href="/locale/{{ locale }}">
                  {{ language}}
                </a>
              {% else %}
                <a class="dropdown-item" href="/locale/{{ locale }}">
                  {{ language}}
                </a>
              {% endif %}
            {% endfor %}
          </div>
        </div>

      </div>
    </div>
    <div class="footer-bottom row align-items-center text-center text-lg-left no-gutters">
      <div class="col-lg-4 col-md-12 text-center text-lg-right footer-social"></div>
    </div>
  </div>
</footer>
