<button id="mainMenuTrigger" class="hamburger hamburger--slider d-md-none d-block" type="button">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>
<div id="mainMenu" class="sidenav">
  <a class="navbar-brand" href="{{path('index')}}">Slideo</a>
  <a href="#">Pricing</a>
  <a href="#">Login</a>
  <a href="#">Sign Up</a>
</div>
<nav id="BrandNav" class="navbar navbar-expand-sm container">
  <a class="navbar-brand d-md-flex d-none" href="{{path('index')}}">
    Slideo
  </a>

  <ul class="navbar-nav d-md-flex ml-auto d-none">
    {% if app.user %}
    <li class="nav-item submenu dropdown">

      <button class="btn nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false">{% trans %}Welcome{% endtrans %}
        {{app.user.fullname}}
      </button>

      <ul class="dropdown-menu">
        {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('admin') }}">{% trans %}Dashboard{% endtrans %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('editor') }}">{% trans %}Editor{% endtrans %}</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_logout')}}">{% trans %}Logout{% endtrans %}</a>
        </li>
      </ul>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="#">
        <button class="btn d-md-flex d-none">Pricing</button>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{path('editor')}}">
        <button class="btn d-md-flex d-none">Editor</button>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{path('app_login')}}">
        <button class="btn d-md-flex d-none">Login</button>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{path('app_register')}}">
        <button id="loginBtn" class="btn btn-outline-dark d-md-flex d-none">Sign Up</button>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>